.App {
  position: relative;
  font-family: sans-serif;
  height: 90vh;
  width: 100vw;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.text {
  padding: 2em;
  position: relative;
  width: 30vw;
  min-width: 300px;
  background: "#EEE";
}

svg {
  vertical-align: middle;
  max-height: 75vh;
}

.map {
  position: absolute;
  top: 80px;
  right: 10vw;
  width: 40vw;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  line-height: 1.3em;
}

@media only screen and (max-width: 1000px) {

  .App {
    align-items: center;
    align-content: center;
  }

  .text {
    padding: 1em;
    top: 0px;
    width: 90vw;
  }

  .map {
    position: absolute;
    top: 40vh;
    right: 15vw;
    width: 70vw;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg {
  display: inline-block;
  vertical-align: middle;
}
