.App {
  position: relative;
  font-family: sans-serif;
  height: 90%;
  width: 100%;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.text {
  position: relative;
  padding: 6% 12%;
  width: 30%;
  min-width: 300px;
  background: "#EEE";
}

.map {
  position: absolute;
  height: 100%;
  top: 0px;
  bottom: 0px;
  margin: auto 0px;
  right: 10%;
  width: 40%;
}

svg {
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  margin: auto 0px;
}

.stateSVG:focus {
  outline: none;
}

.stateSVG:hover {
  fill: #AEA;
}

h1 {
  text-align: center;
}

p {
  line-height: 1.3em;
}

@media only screen and (max-width: 1150px) {

  .App {
    width: 100%;
    align-items: center;
    align-content: center;
  }

  .text {
    position: relative;
    padding: 0px 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    width: 80%;
  }

  .map {
    position: relative;
    padding: 0px 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    width: 70%;
    max-width: 500px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg {
  display: inline-block;
  vertical-align: middle;
}
